# Ignore IDE Specific Files
.vscode
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.iws

# Ignore .env files
.env
.env.production
.env.staging

# Don't upload python-venv folders
venv

# PyInfra Specific excludes
/**/PyInfra/**/inventory.py