server_config = [
    (
        "server", {
            "MIRROR_REGION": "",
            "ZEROTIER_NETWORK_ID": "",
            "SWAPFILE_SIZE": "4G",
            "LC_TIME_LOCALE": "en_US.UTF-8"
        }
    )
]

inventory = [
    (
        "server", {
            "ssh_hostname": "",
            "ssh_port": 22,
            "ssh_user": "",
            "ssh_password": ""
        }
    )
]